body {
  background-color: #4FD4FF;
}

.row {
  width: 100%;
  margin-left: 20px;
  }

.panel-header {
  margin-left: 15px;
}

.flashcard {
  text-align: center;
}

.panel-body {
  margin-top: 100px;
}

.panel-body p {
  font-size: 30px;
  padding-top: 50px;
  margin-left: 20px;
  padding-right: 20px;
}

.contents {

  margin-left: 9px;
}
.col-sm-3 {
  width: 24%;
}


.panel {
  height: 300px;
}

p {
  margin: -140px 0 10px;
}

.info {
  display: none;
  overflow: hidden;
  overflow: scroll;
  }

  .jumbotron {
    text-align: center;
    background-color: #586EE8;
    color: white;
  }

  footer {
    font-size: 26px;
  }



@media only screen and (max-width: 1950px) {
  .panel-body p {
    font-size: 150%;
  }
}

@media only screen and (max-width: 900px) {
  .col-sm-3 {
    width: auto;
  }
}
